.bd{
    height: 100%;
    background: linear-gradient(to bottom, #FBFBFF, #0000e3 );
    background-repeat: no-repeat;
    justify-content: center;
}
.header{
       display: flex;
  flex-wrap: wrap;
   margin-bottom: 2em;
}
.imgLogo{
    width: 450px;
    margin: auto;
}
.imgBtn{
    width: 35px;
}
.divContBtn{
   
     display: flex;
  flex-wrap: wrap;
justify-content: center;
    height: 500px;
    width: 450px;
    margin: auto auto 100px auto;
    text-align: left;
}
.aBtn{
    background-color: azure;
    color: rgb(0, 0, 171);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.3em;
    font-size: 35px;
    width: 100%;
    border: solid 3px rgb(199, 106, 0);
    border-radius: 20px;
    margin: 0.2em;
    text-decoration: none;
}

@media (max-width: 1300px) {

.header{
       display: flex;
  flex-wrap: wrap;
   margin-bottom: 2em;
   width: 100%;
   
}
.imgLogo{
    width: 900px;
    margin: auto;
}
.divContBtn{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 80%;
    height: 700px;
    margin: 200px auto 1000px auto;
    text-align: left;
}
.imgBtn{
    width: 70px;
}
.aBtn{
    background-color: azure;
    color: rgb(0, 0, 171);
    font-size: 58px;
    width: 100%;
    border: solid 5px rgb(199, 106, 0);
    border-radius: 20px  20px 20px 20px;
 
    text-decoration: none;
}


}
